<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nativemobilebits.postoffice.chat">

    <application>
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
    </application>

</manifest>